<!doctype html>
<html>
  <head>
    <title>html模板|源码不含注释|雪山凌狐教程</title>
    <meta charset = "utf-8">
    <style type="text/css">
      html,body{
        height: 100%;
        color: yellow;
      }
      body{
        background: url(image/background.jpg) center center;
        background-size: cover;

        margin: 0;
        padding: 0;

        position: relative;
      }
      #container{
        width: 100%;
        text-align: center;

        position: absolute;

        top: 50%;
        transform: translateY(-50%);
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>我爱雪山凌狐</h1>
      <p>www.xueshanlinghu.com - 雪山凌狐教程</p>
      <a href="http://www.xueshanlinghu.com">传送门</a>
      <a href="image/css-color.png">想看颜色对照表的点这里</a>
    </div>
  </body>
</html>
